@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: local('Muller'), local('Muller'),
        url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FF Good Pro';
    src: url('../fonts/FFGoodPro-Light.eot');
    src: local('FF Good Pro Light'), local('FFGoodPro-Light'),
        url('../fonts/FFGoodPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFGoodPro-Light.woff2') format('woff2'),
        url('../fonts/FFGoodPro-Light.woff') format('woff'),
        url('../fonts/FFGoodPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*------------------------------COLOR----------------------------------*/
:root {
    --color-bordeaux-light: #B06D81;
    --color-bordeaux: #831335;
    --color-bluish-gray: #172B32;
    --color-milky: #FDF5E6;
    --text-color-white: #FFFFFF;
    --text-color-grey: #838383;
    --text-color-light-grey: #B1B5BA;
    --text-color-basket-grey: #989FA8;
    --indicator-color-green: #B1DE32;
  }
/*----------------------------------------------------------------------*/
* {
font-family: 'Muller';
box-sizing: border-box;
padding: 0;
margin: 0;
}
.wrapper {
    max-width: 1508px;
    margin-right: auto;
    margin-left: auto;
}
a,
a:active {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .menu__h2,
  .aboutUs__h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-bordeaux);
  }

/*-------------------HEADER----------------------------------*/
.header {
    position: relative;
    height: 74px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--color-bluish-gray);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
}
.burgerMenu {
    display: block;
}
.close {
    display: block;
}
.header__nav,
.asideNav,
.resto,
.asideNavMenu,
.auxiliary {
    display: none;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.profile {
    margin-left: 35px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background: var(--color-bordeaux);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.phone {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-size: 13px;
}
.contacts__a {
    font-weight: 700;   
}
.contacts__span {
    font-weight: 500;
}

/*----------------------------MOBILE MENU-------------------------------*/
.mobile {
    display: none;
}
.mobile__profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bordeaux);
    border: 2px solid var(--color-bordeaux);
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
/*---------------------------------------------------------------------*/
/*-------------------MAIN---------------------------------------------*/
.menu__mobile_nav {
    height: 75px;
    position: absolute;
    background-color: var(--text-color-white);
}

.menu__mobile_nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: nowrap;
}

.nav__li {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
}
.menu:target .menu__mobile_nav {
    background-color: rgba(255, 255, 255, 0.7);
}

.nav__input {
    display: none;
}

.nav__label {
    display: flex;
    white-space:nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    align-self: center;
}
.nav__label:hover,
.nav__label:active {
    background-color: var(--color-bordeaux);
    border-radius: 10px;
    color: var(--text-color-white);
}




.menu {
    background-color: var(--color-milky);
    padding-right: 19px;
    padding-left: 19px;
    display: flex;
    height: calc(100vh - 75px);
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 35px;
}
.menu__h2 {
    margin-top: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.menu__list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 15px;
    row-gap: 30px;
}
.menu__card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 350px;
    border-radius: 10px;
    background-color: var(--text-color-white);
    justify-content: space-between;
}
.card__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card_desc {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 4px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
.card {
    display: flex;
    column-gap: 3px;
    align-self: flex-end;
}
.card__desc_name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.card__desc_weight {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--text-color-light-grey);
    padding-bottom: 1px;
}
.card__desc_price {
    white-space: nowrap;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    font-size: 24px;
    color: var(--text-color-grey);
}
.card__button {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bordeaux-light);
    border-radius: 0 0 10px 10px;
    color: var(--text-color-white);
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aboutUs {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.indicator{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--indicator-color-green);
}
.address {
    padding-top: 25px;
    font-style: normal;
    padding-bottom: 25px;
}
.workTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.workTime__span,
.workTime__span_now,
.address{
    font-family: "FF Good Pro";
    font-size: 20px;
    font-weight: 450;
}
.aboutUs__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.aboutUs__button {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-bordeaux);
    color: var(--text-color-white);
    
}
.aboutUs__span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    align-self: center;
    height: 100%;
    border: 1px solid var(--text-color-white);
    font-size: 15px;
    font-weight: 700;
}
.aboutUs__map {
    overflow: hidden;
    max-height: 370px;
    border-radius: 10px;
}
/*--------------------------------------------------------------------*/
/*-------------------FOOTER-------------------------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    color: var(--text-color-white);
}
.footer__color1 {
    background-color: var(--color-bordeaux);
}
.footer__main {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
    row-gap: 20px;
}
.footer__logo {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer__favicon {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer__nav_item {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
}
.footer__other {
    width: 201px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other__item {
    font-family: "FF Good Pro"; 
    text-align: right;
    font-weight: 450;
    font-size: 14px;
}
.loyalty {
    font-family: "Muller";
    font-weight: 700;
    font-size: 16px;
}
.footer__copyright {
    height: 95px;
    background-color: var(--color-bluish-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
}

.copyright__item {
    font-family: "FF Good Pro";
    font-size: 14px;
    font-weight: 450;
}

/*------------------------MEDIA---------------------------------------*/
@media screen and (min-width: 800px) {
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer__main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer__logo {
        grid-column: 1/2;
        flex-direction: column;
        row-gap: 20px;
        justify-content: unset;
    }
    .footer__favicon {
        flex-direction: row;
        column-gap: 20px;
    }
    .footer__nav {
        justify-self: center;
    }
    .footer__other {
        justify-self: end;
    }
}
@media screen and (min-width: 1508px) {
    .header {
        padding-left: 190px;
        padding-right: 147px;
        height: 124px;
    }
    .resto {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.2em;
        color: #B4B2B2;
    }
    .burgerMenu {
        display: none;
    }
    .header__nav {
        display: flex;
        justify-content: center;
    }
    .nav {
        font-family: 'Muller';
        font-weight: 500;
        font-size: 15px;
        display: flex;
        column-gap: 25px;
        align-items: center;
    }
    .nav__item {
        list-style-type: none;
    }
    .close {
        display: none;
    }
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer__main {
        grid-template-columns: 270px 1fr 1fr;
        column-gap: 60px;
    }
    .footer__nav {
        justify-self: flex-start;
    }
}