@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: local('Muller'), local('Muller'),
        url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Good Pro';
    src: url('../fonts/FFGoodPro-Light.eot');
    src: local('FF Good Pro Light'), local('FFGoodPro-Light'),
        url('../fonts/FFGoodPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFGoodPro-Light.woff2') format('woff2'),
        url('../fonts/FFGoodPro-Light.woff') format('woff'),
        url('../fonts/FFGoodPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'rouble';
    src: url('../fonts/rouble.eot');
    src: local('rouble'),
        url('../fonts/rouble.woff2') format('woff2'),
        url('../fonts/rouble.woff') format('woff'),
        url('../fonts/rouble.ttf') format('truetype');
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*------------------------------COLOR----------------------------------*/
:root {
    --color-bordeaux-light: #B06D81;
    --color-bordeaux: #831335;
    --color-bluish-gray: #172B32;
    --color-milky: #FDF5E6;
    --text-color-white: #FFFFFF;
    --text-color-grey: #838383;
    --text-color-light-grey: #B1B5BA;
    --text-color-basket-grey: #989FA8;
    --indicator-color-green: #B1DE32;
    --text-color-dark-grey: #505050;
    --btnHover: var(--color-bordeaux);

}

/*----------------------------------------------------------------------*/
* {
    font-family: 'Muller';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

.wrapper {
    padding-left: 20px;
    padding-right: 20px
}

a,
a:active {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.rouble {
    font-family: 'rouble';
}

.block {
    z-index: 100499;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2.5px);
}

.menu__h2,
.aboutUs__h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-bordeaux);
}

.menu__h2 {
    background-color: var(--color-milky);
}

/*-------------------HEADER----------------------------------*/
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 11;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--color-bluish-gray);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
}

#menu {
    display: none;
}

.burgerMenu {
    display: block;
}

.close {
    display: block;
}

.header__nav,
.asideNav,
.resto,
.asideNavMenu,
.mainGallery,
.basketDesk,
.auxiliary,
.asideMenu,
.mobileBasket_sticky,
.mobileBasket,
.mobileBasket__img,
.hidden {
    display: none;
}

.auxiliary {
    height: 150px;
    background-color: var(--text-color-white);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.profile {
    margin-left: 25px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background: var(--color-bordeaux);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.phone {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-size: 13px;
}

.contacts__a,
.mobileContacts__a {
    font-weight: 700;
}

.contacts__span,
.mobileContacts__span {
    font-weight: 500;
}

/*----------------------------MOBILE MENU-------------------------------*/
.mobile {
    background-color: var(--color-bluish-gray);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color-white);
    padding-bottom: 30px;
    z-index: 100600;
    width: 100%;
    flex-basis: 100%;
}



.mobile__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 25px;
    padding-right: 35px;
}

.mobile__profile,
.mobile__nav {
    font-size: 15px;
    font-weight: 500;
}

.mobile__nav,
.mobile__phone,
.mobile__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 35px;
    padding-left: 25px;
    flex-basis: 25%;
}

.mobile__phone {
    font-size: 13px;
    row-gap: 20px;
    justify-content: center;
}

.mobile__nav {
    flex-basis: 50%;
    padding-top: 25px;
    align-items: end;
}

.nav__item {
    list-style: none;
}

.mobile__profile {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-right: 35px;
    padding-left: 25px;
}

.mobile__profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    background: var(--color-bordeaux);
    border: 2px solid var(--text-color-white);
}

.mobile__indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--indicator-color-green);
}

.mobileWorkTime {}

.address__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.mobile__address {}

.mobile__contacts {
    font-family: "FF Good Pro";
    font-size: 15px;
    font-weight: 450;

}

.mobileWorkTime__span_now,
.mobileWorkTime__span,
.mobile__address {
    font-family: "FF Good Pro";
    font-size: 15px;
    font-weight: 450;
    font-style: normal;
}

.mobileContacts__a {
    display: flex;
    column-gap: 10px;
}

.button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color-white);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: var(--text-color-white);
    font-style: normal;
    font-size: 13px;
    font-weight: 700;
    align-self: flex-end;
    background-color: var(--color-bordeaux);
}

/*
.mobile__button_route {
    border: 2px solid var(--text-color-white);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: var(--text-color-white);
    font-size: 13px;
    font-weight: 700;
    align-self: flex-end;
    background-color: var(--color-bordeaux);
}*/

/*---------------------------------------------------------------------*/
/*-------------------MAIN---------------------------------------------*/
.menu__mobile_nav {
    height: 75px;
    position: sticky;
    top: 75px;
    z-index: 20;
    background-color: var(--text-color-white);
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: nowrap;
}

.nav__li {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
}


.nav__input {
    display: none;
}

.nav__label {
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    align-self: center;
    font-weight: 500;
    font-size: 15px;
}

.nav__label_active {
    background-color: var(--color-bordeaux);
    border-radius: 10px;
    color: var(--text-color-white);
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.frontpage .mainGallery {
    display: flex;
    width: 100%;
    height: 250px;
}

.mainGallery__item {
    width: 100%;
    object-fit: cover;
}

.menu__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    column-gap: 15px;
    row-gap: 15px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-milky);
}

.menu__main_item {
    position: relative;
}

.menu__main_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.allFull {
    grid-column: span 2;
}

.onlyDeskHalf {
    grid-column: span 2;
}

.onlyTabletHalf {
    grid-column: span 2;
}

.menu__main_h2 {
    position: absolute;
    left: 20px;
    bottom: 35px;
    font-weight: 700;
    font-size: 25px;
    color: var(--text-color-white);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.order {
    width: 100%;
    background-color: var(--color-milky);
}

.order__item_h2 {
    font-weight: 500;
    font-size: 24px;
    color: var(--color-bordeaux-light);
}

.order__item {
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--text-color-white);
    border: 2px solid var(--text-color-white);
    border-radius: 10px;
}

.order__basket {
    margin-top: 20px;
    margin-bottom: 53px;
    padding-top: 40px;
    padding-bottom: 26px;
}

.order__basket .mobileBasket__card {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    grid-template-rows: min-content min-content;
    column-gap: 10px;
    row-gap: 8px;
}

.order__basket .order__item_h2 {
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 15px;
}

.order__basket .mobileBasket__count {
    justify-self: end;
}

.order__topping {
    padding-left: 22px;
    padding-right: 20px;
    padding-bottom: 28px;
}

.order__topping_list {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.order__topping_list .input_text {
    height: 47px;
}

.order__topping .order__item_h2 {
    padding-top: 25px;
    padding-bottom: 19px;
}

.order__topping_card .mobileBasket__h3 {
    padding-bottom: 0px;
    width: 100%;
}

.order__basket .count_minus,
.order__basket .count_plus,
.order__basket .input_text {
    height: 42px;
}

.card__pinck {
    background-color: var(--color-milky);
    width: 100%;
    height: 3px;
}

.order__list .mobileBasket__h3,
.last__card .mobileBasket__h3 {
    grid-row: 1/2;
    grid-column: 2/4;
    width: 100%;
    padding-bottom: 0px;
}

.last__card .mobileBasket__price {
    align-self: end;
}

.order__basket .last__card .mobileBasket__h3 {
    color: var(--color-bordeaux-light);
    font-weight: 700;
}

.order__list,
.last__card {
    padding-left: 20px;
    padding-right: 15px;
}

.order__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    row-gap: 25px;
}

.order__topping_card {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    row-gap: 6px;
    column-gap: 12px;
}

.order__topping_desc {
    font-size: 13px;
    color: var(--text-color-grey);
}

.order__topping_card .mobileBasket__price {
    justify-self: end;
}

.last__card {
    padding-top: 3px;
}

.order__list .mobileBasket__card_img {
    height: 68px;
}

.order__list .mobileBasket__card_pict,
.last__card .mobileBasket__card_pict {
    grid-row: 1/3;
}

.last__card .mobileBasket__card_pict {
    background-color: var(--color-bordeaux-light);
    border-radius: 10px;
    height: 68px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last__card .mobileBasket__card_img {
    width: 27px;
    height: 35px;
}

.menu {
    background-color: var(--color-milky);
    padding-right: 19px;
    padding-left: 19px;
    padding-bottom: 35px;
    display: flex;
    width: 100%;
    /* max-height: calc(100vh - 75px);*/
    flex-direction: column;
    /*  overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 35px;*/

}

.menu__h2 {
    padding-top: 30px;
}

.menu__white {
    height: 75px;
    background-color: var(--text-color-white);
}

.menu__list {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    overflow-y: auto;
}

.menu__cat {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 15px;
    row-gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    row-gap: 30px;
}

.category_active {}

.menu__card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    /*height: 287px;*/
    border-radius: 10px;
    background-color: var(--text-color-white);
    justify-content: space-between;
}

.card__img {
    min-width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.img__plus {
    width: 17px !important;
    height: 17px;
}

.card__text {
    display: flex;
    align-items: center;
}

.add__order,
.add__order_tablet {
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    min-height: 61px;
    background-color: var(--color-bluish-gray);
    width: 100%;
    color: var(--text-color-white);
    border: 2px solid var(--text-color-white);
    border-radius: 10px 10px 0px 0px;
}

.add__order_desc {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 25px;
    font-weight: 700;
    font-size: 16px;
}

.add__order_total {
    font-weight: 500;
    font-size: 18px;
}

.card_desc {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    height: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.card {
    height: 40px;
    overflow: hidden;
    align-self: flex-end;
    padding-right: 10px;
    text-align: start;
}

.card__desc_name {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.card__desc_weight {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--text-color-light-grey);
    padding-bottom: 1px;
}

.card__desc_price {
    white-space: nowrap;
    column-gap: 2px;
    display: flex;
    max-height: 40px;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    font-size: 24px;
    color: var(--text-color-grey);
}

.card__button {
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--color-bordeaux-light);
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card__button_add {
    color: var(--text-color-white);
    font-size: 15px;
    font-weight: 700;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.card__button_count {
    display: none;
    max-height: 47px;
    flex-grow: 1;
    justify-content: space-between;
}

.card__count_wrapper {
    flex-grow: 1;
}

.input_text {
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 15px;
    color: #757575;
    ;
}

.aboutUs {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
}

.indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--indicator-color-green);
}

.address {
    padding-top: 25px;
    font-style: normal;
    padding-bottom: 25px;
}

.workTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.workTime__span,
.workTime__span_now,
.address {
    font-family: "FF Good Pro";
    font-size: 20px;
    font-weight: 450;
}

.workTime__span,
.workTime__span_now,
address {
    white-space: nowrap;
}

.aboutUs__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.aboutUs__button {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-bordeaux);
    color: var(--text-color-white);

}

.aboutUs__span,
.aboutUs__span_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    align-self: center;
    height: 100%;
    border: 0.5px solid var(--text-color-white);
    font-size: 15px;
    font-weight: 500;
}

.aboutUs__span_text {
    font-size: 13px;
    font-weight: 700;
}

.aboutUs__map {
    overflow: hidden;
    max-height: 311px;
    border-radius: 10px;
}

/*--------------------------------------------------------------------*/
/*-------------------FOOTER-------------------------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    color: var(--text-color-white);
}

.footer__color1 {
    background-color: var(--color-bordeaux);
}

.footer__img {
    height: 17px;
}

.vk {
    width: 32px;
    height: 32px;
}

.telegram {
    width: 24px;
    height: 20px;
}

.footer__main {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
    row-gap: 20px;
}

.footer__logo {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__favicon {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__nav_item {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
}

.footer__other {
    width: 100%;
    display: flex;
    justify-content: end;
}

.footer__other_wrap {
    width: 201px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.other__item {
    font-family: "FF Good Pro";
    text-align: right;
    font-weight: 450;
    font-size: 14px;
    line-height: 19px;
}

.loyalty {
    font-family: "Muller";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
}

.footer__copyright {
    height: 95px;
    background-color: var(--color-bluish-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
}

.copyright__item {
    font-family: "FF Good Pro";
    font-size: 14px;
    font-weight: 450;
}

.mobileBasket {
    /*top: 0;*/
    display: none;
    flex-direction: column;
    width: 100vw;
    background-color: var(--text-color-white);
}

.mobileBasket_open {
    width: 100vw;
    background-color: var(--text-color-white);
    height: 100vh;
    z-index: 100400;

}

.mobileBasket_open_open {
    position: fixed;
    top: 0;

    transition: top linear 1s;
}

.mobileBasket__header_totalPrice {
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
}

.mobileBasket__header_span {
    font-weight: 700;
    font-size: 16px;
}

.mobileBasket__header_price {}

.mobile_wr {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    z-index: 100400;
    background-color: var(--text-color-white);
}

.mobileBasket__header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    color: var(--text-color-white);
    background-color: var(--color-bluish-gray);
    border: 2px solid #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

.mobileBasket__header_wr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mobileBasket__delivery {
    padding-top: 27px;
    padding-left: 20px;
    margin-right: 20px;
    padding-bottom: 35px;
}

.mobileBasket__delivery__wrapper,
.deskBasket__delivery__wrapper {
    display: flex;
    width: 100%;
    border: 1px solid #B5B5B5;
    border-radius: 10px;
}

.mobileBasket__delivery__item,
.desktopBasket__delivery__item {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    align-items: center;
    border: 2px solid transparent;
}

.mobileBasket__delivery_label,
.deskBasket__delivery_label {
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    align-self: center;
    font-weight: 700;
    font-size: 15px;
    color: var(--text-color-basket-grey);
    cursor: pointer;
    user-select: none;
}

.deskBasket__delivery__wrapper,
.mobileBasket__delivery__wrapper {
    position: relative;
}

/*.basket__delivery_active,*/
.hovering_active {
    border: 2px solid;
    border-color: var(--color-bordeaux);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    min-width: 50%;
    height: 100%;
}

.hover__active_left {
    left: 0%;
    color: var(--text-color-dark-grey);
    transition: left linear 0.3s;
}

.hover__active_right {
    left: 50%;
    transition: left linear 0.3s;
}

.desktopBasket__delivery__item label {
    color: var(--text-color-grey);
    transition: color linear 0.3s;
}

.mobileBasket__delivery__item.basket__delivery_active label,
.desktopBasket__delivery__item.basket__delivery_active label {
    color: var(--text-color-dark-grey);
    transition: color linear 0.3s;
}


.mobileBasket__delivery_input,
.deskBasket__delivery_input {
    display: none;
}

.mobileBasket__count,
.deskBasket__count {
    display: flex;
}

.mobileBasket__menu {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: calc(100vh - 420px);
    overflow-y: auto;
    z-index: 100;
}

.mobileBasket__button_clear,
.deskBasket__button_clear {
    margin-left: 30px;
}

.mobileBasket__card,
.deskBasket__card {
    display: flex;
    column-gap: 10px;
}

.mobileBasket__card_img,
.deskBasket__card_img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
}

.mobileBasket__desc,
.deskBasket__desc {
    flex-grow: 1;
}

.mobileBasket__h3,
.deskBasket__h3 {
    padding-bottom: 12px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobileBasket__h3 {
    font-size: 15px;
    font-weight: 500;
}

.mobileBasket__weight {
    font-size: 13px;
    font-weight: 700;
    color: var(--text-color-light-grey);
}

.mobileBasket__price {
    font-weight: 500;
    font-size: 15px;
    color: #838383;
}

.mobileBasket__main {
    flex-grow: 1;
}

.mobileBasket__desc_main,
.deskBasket__desc_main {
    display: flex;
    justify-content: space-between;
}

.mobileBasket__weightPrice,
.deskBasket__weightPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobileBasket__footer {
    flex-grow: 1;
    width: 100%;
    z-index: 100401;
    position: fixed;
    right: 0;
    bottom: -130px;
    transition: bottom linear 700ms;
}

.mobileBasket_sticky.opened .mobileBasket__footer {
    bottom: 0;
    transition: bottom linear 700ms;
}



.mobileBasket__footer_item,
.deskBasket__footer_item {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.mobileBasket__footer_item {
    display: none;
}

.mobileBasket_sticky.opened .mobileBasket__footer_item {
    display: flex;
}

.input_text {
    flex-grow: 1;
}

.mobileBasket__button_clear,
.deskBasket__button_clear {
    background-color: var(--text-color-white);
    border: none;
    text-align: start;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 20px;
}

.mobileBasket_forFreeDelivery,
.deskBasket_forFreeDelivery {
    font-weight: 500;
    font-size: 13px;
    color: var(--color-bordeaux);
    margin-bottom: 10px;
}

.mobileBasket_priceDelivery,
.deskBasket_priceDelivery {
    display: flex;
    align-items: center;
}

.mobileBasket__footer_span,
.deskBasket__footer_span {
    padding-right: 30px;
    font-weight: 500;
    font-size: 13px;
}

.mobileBasket__price_delivery {
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color-grey);
}

.mobileBasket__ruble {
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color-grey);
}

.mobileBasket_forFreeDelivery,
.deskBasket_forFreeDelivery {
    display: inline-block;
}

.mobileBasket__button_order,
.deskBasket__button_order {
    height: 70px;
    width: 100%;
    background-color: var(--color-bordeaux);
    color: var(--text-color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid var(--text-color-white);
    border-radius: 10px;
    padding-left: 26px;
    padding-right: 26px;
}

.mobileBasket__button_order {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color-white);
    width: 100%;
}

.deskBasket__button_order {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-color-white);
    width: 100%;
}

.deskBasket_totalCheck,
.mobileBasket_totalCheck span {
    font-size: 20px;
}

.input_text {
    height: 100%;
    text-align: center;
}

.count_minus,
.count_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--text-color-white);
    width: 47px;
    height: 47px;
    background-color: var(--color-bordeaux-light);
    border-radius: 10px 0px 0px 10px;
}

.count_plus {
    border-radius: 0px 10px 10px 0px;
}

.card__count_minus {
    border-radius: 0px 0px 0px 10px;
}

.card__count_plus {
    border-radius: 0px 0px 10px 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.gallery__list {
    display: flex;
    width: 100%;
    overflow-x: auto;
    column-gap: 25px;
    justify-content: space-between;
}

.top10__card {
    width: 100%;
}

.gallery {
    background-color: var(--color-milky);
    padding-top: 30px;
    padding-bottom: 40px;
}

.aboutUs,
.gallery {
    padding-left: 19px;
    padding-right: 19px;
}

.deskBasket {
    display: none;
}

.asideMenu {
    display: none;
    position: relative;
    flex-direction: column;
    color: var(--text-color-white);
    padding-top: 35px;
    padding-left: 12px;
    padding-right: 15px;
}

.wrapper__main_small {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: wrap;
}

.frontpage .wrapper__main_small {
    background-color: var(--color-milky);
}

.asideMenu__ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: sticky;
    top: 75px;
    z-index: 100;
}

.asideMenu__input {
    display: none;
}

.asideMenu__label {
    height: 45px;
    width: 163px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.asideMenu__label:hover,
.category_active {
    background-color: var(--color-bordeaux);
}

.gallery {
    order: 1;
    width: 100%;
}

.gallery__h2 {
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    color: var(--color-bordeaux);
}

.aboutUs {
    order: 2;
}

.frontpage .aboutUs {
    background-color: var(--text-color-white);
}

/*.asideModal {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}*/
.modal {
    display: none;
    position: fixed;
    top: 130px;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc((var(--vh, 1vh) * 100) - 130px);
    z-index: 100501;
    background-color: var(--text-color-white);
    /*max-height: calc(100vh - 130px);*/
}

.modal__card {
    background-color: var(--text-color-white);
    display: flex;
    flex-direction: column;
    z-index: 100501;
}

.modal__div {
    position: relative;
}

@keyframes mobileBasket {
    0% {
        transform: translatey(calc(100vh - 60px));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes closeMobileBasketFooter {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -100vh;
    }
}

@keyframes closeMobileBasket {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -50vh;
    }

    100% {
        bottom: calc(-100vh + 60px);
    }
}

@keyframes modal {
    0% {
        transform: translatey(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes modalBack {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

/*
@keyframes modalDesc {
    0% {transform: translatey(100vh);}
    100% {transform: translateY(0);}
}*/
/*
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  */
@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomCalc {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(var(--ratio));
    }
}

@keyframes zoomBack {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.modal__gallery {
    position: relative;
}

.modal__close {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 145px;
    right: 20px;
    z-index: 100502;
}

.modal__card_img {
    min-width: 100%;
    height: 100%;
    height: 265px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.modal__img {
    width: 100%;
}

.modal__image_relative {}

.modal__desc {
    font-family: 'FF Good Pro';
    font-weight: 450;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    text-align: justify;
    color: #757575;
    background-color: var(--text-color-white);
}

.topping__h3 {
    font-family: 'Muller';
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: justify;
    color: #757575;
}

.modal__h2 {
    position: absolute;
    left: 20px;
    bottom: 30px;
    font-weight: 500;
    font-size: 35px;
    color: var(--text-color-white);
    z-index: 20;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    z-index: 20;
}

.modal__fav {
    display: flex;
    column-gap: 7px;
}

.modal__topping {
    background-color: #F0F0F0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 174px;
    overflow-x: auto;
}

.topping__list {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.topping__card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.topping__img {
    width: 86px;
    height: 86px;
}

.topping__desc {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.topping__name {
    font-family: 'FF Good Pro';
    font-weight: 450;
    font-size: 14px;
    color: #757575;
}

.topping__other {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topping__check {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: var(--text-color-white);
}

.topping__check_img {
    display: none;
}

.topping__check_active {
    display: block;
    padding-left: 2px;
}

.topping__weight {
    font-family: 'FF Good Pro';
    font-weight: 350;
    font-size: 14px;
    color: #757575;
}

.topping__price {
    font-family: 'FF Good Pro';
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}

.topping__modal_check {
    display: none;
}

.aux {
    min-height: 70px;
}

.footer__BJU {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    height: 55px;
    background-color: var(--text-color-white);
}

.modal__total_energy,
.modal__squirreLS,
.modal__fats,
.modal__carbohydrates {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__total_weight {
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
    color: #B1B5BA;
}

.modal__BJU_number {
    font-size: 15px;
    line-height: 15px;
    color: #575757;
}

.modal__BJU_letter {
    font-family: 'FF Good Pro';
    font-weight: 450;
    font-size: 13px;
    color: #A6A6A6;
}

.modal__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none;
    z-index: 100501;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}

.modal__order {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 25px;
}

.modal__order_click {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.modal__order_total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding-bottom: 10px;
}

.modal__total_price {
    font-weight: 400;
    font-size: 24px;
    color: var(--color-bordeaux);
    white-space: nowrap;
}

.modal__order_old {
    font-size: 15px;
    text-decoration-line: line-through;
    color: #C5C5C5;
}

.modal__order_button {
    font-weight: 700;
    font-size: 15px;
    color: var(--text-color-white);
    text-align: center;
    width: 280px;
    height: 47px;
    border: none;
    background-color: var(--color-bordeaux);
    border-radius: 10px 0px 10px 0px;
    align-self: flex-end;
}

.modal__button_count {
    width: 280px;
    height: 47px;
    flex-grow: unset;
    align-self: flex-end;
    padding-bottom: 2px;
}

.modal__button_count .count_minus {
    border-radius: 10px 0px 0px 0px;
    background-color: var(--color-bordeaux);
}

.modal__button_count .count_plus {
    background-color: var(--color-bordeaux);
}

.mobileWr__img {
    display: none;
}

.mobileBasket_sticky {
    width: 100%;
    z-index: 100400;
    height: 1px;
    left: 0;
}

.asideModal {
    position: relative;
}

/*------------------------MEDIA---------------------------------------*/
@media screen and (min-width: 800px) {

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        /*width: 100%;
        display: grid;
        grid-template-columns: 195px 1fr;
        flex-wrap: nowrap;*/
    }

    .menu__main_img {
        height: 140px;
    }

    .onlyMobileHalf {
        grid-column: span 2;
    }

    .mobileDeskHalf {
        grid-column: span 2;
    }

    .onlyTabletHalf {
        grid-column: span 1;
    }

    .order__topping_list {
        row-gap: 33px;
    }

    .order__basket .mobileBasket__card.last__card {
        display: grid;
        grid-template-columns: min-content 1fr max-content auto;
        align-items: center;
    }

    .order__topping_card {
        grid-template-columns: 1fr auto auto;
    }

    .order__topping_card .mobileBasket__count {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .order__topping_card .mobileBasket__price {
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: center;
    }

    .order__list .mobileBasket__h3 {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-bottom: 0px;
        align-self: end;
    }

    .last__card .mobileBasket__h3,
    .last__card .mobileBasket__card_pict,
    .last__card .mobileBasket__count {
        grid-column: span 1;
        grid-row: span 1;
        row-gap: 0;
    }

    .last__card .mobileBasket__price {
        justify-self: end;
        align-self: center;
    }

    .order__basket .mobileBasket__card {
        row-gap: 10px;
    }

    .order__list .mobileBasket__card_pict {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .order__list .mobileBasket__count {
        grid-row: 1/3;
        grid-column: 3/4;
        align-self: center;
    }

    .order__list .mobileBasket__weightPrice {
        flex-direction: row;
    }

    .order__list .count_minus,
    .order__list .count_plus,
    .order__list .input_text {
        height: 47px;
    }

    .gallery__list .swiper-slide {
        max-width: 280px;
    }

    .aux {
        display: none;
    }

    .modal__order {
        column-gap: 15px;
    }

    .menu__mobile_nav {
        display: none;
    }

    .modal__close {
        display: none;
        position: absolute;
        top: 30px;
        right: 60px;
        z-index: 100502;
        width: 20px;
        height: 20px;
    }

    .wrapper__main_big {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        /*height: calc (100vh - 340px);*/
    }

    .wrapper__main_small {
        width: calc(100% - 195px);
        margin-left: auto;
        margin-right: auto;
    }

    .menu,
    .aboutUs {
        width: 100%;
    }

    .wrapper__main_big {}

    .asideMenu {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 195px;
        background-color: var(--color-bluish-gray);
    }

    .card__button:hover,
    .count_minus:hover,
    .count_plus:hover {
        background-color: var(--color-bordeaux);
    }

    /*.mobileBasket {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5px;
        background-color: var(--text-color-white);
        border-radius: 10px;
    }*/
    .mobileBasket__header_wr {
        padding-left: 20px;
        width: 50%;
    }

    .mobileBasket__header {
        border: none;
        width: 100%;
    }

    .mobileBasket__header_img {
        padding: 20px;
        height: 60px;
        width: 50%;
        color: var(--text-color-white);
        background-color: var(--color-bluish-gray);
        border-right: none;
        border-bottom: none;

    }

    .mobileBasket__main_wr {
        width: 50%;
        position: relative;
    }

    .mobileBasket__img {
        display: block;
        width: 50%;
    }

    .tablet__img_main {
        width: 100%;
        height: 100%;
        /*calc(100vh - 60px);*/
        object-fit: cover;
    }

    .mobileBasket__menu {
        height: unset;
        max-height: calc(100vh - 420px);
    }

    .mobileBasket__wrapper {
        display: flex;
        height: 100%;
    }

    .mobileBasket__footer {
        width: 50%;
    }

    .container {}

    .menu__cat {
        position: sticky;
        display: grid;
        grid-template-columns: repeat(2, minmax(280px, 370px));
        max-width: 940px;
        padding-left: 19px;
        padding-right: 19px;
        height: fit-content;
    }

    .menu__h2 {
        grid-column: 1/3;
        height: 86px;
        margin-top: 0;
        padding-top: 35px;
    }

    .footer__main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__logo {
        grid-column: 1/2;
        flex-direction: column;
        row-gap: 20px;
        justify-content: unset;
    }

    .footer__favicon {
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }

    .footer__nav {
        justify-self: center;
    }

    .footer__other {
        justify-self: end;
    }

    .footer__copyright {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }


    .asideMenu__li {
        list-style: none;
        color: var(--text-color-white);
    }

    .asideMenu__first {
        height: 295px;
        background-color: var(--color-bordeaux);
    }

    .mobileBasket {
        display: none;
    }

    .aboutUs__div_wr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .aboutUs__h2 {
        order: 0;
        flex-grow: 1;
    }

    .workTime {
        /*order: 1;*/
        flex-grow: 1;
    }

    .mainGallery,
    .frontpage .mainGallery {
        width: 100%;
        height: 340px;
        display: block;
        padding-right: 0px;
        padding-left: 0;
    }

    .mainGallery__item,
    .frontpage .mainGallery__item {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }


    .menu {
        /*height: calc(100vh - 340px);*/
    }

    .mobileBasket {
        display: none;
    }

    .logo_close {
        display: none;
    }

    .mobile__header {
        justify-content: flex-end;
    }

    .mobileWr__img {
        display: block;
        flex-basis: 50%;
    }

    .mobileWr__header_img {
        padding: 20px;
        height: 75px;
        color: var(--text-color-white);
        background-color: var(--color-bluish-gray);
        padding-top: 30px;
        border-right: none;
        border-bottom: none;
        border-radius: 10px 0px 0px 0px;
    }

    .mobile {
        flex-basis: 50%;
    }

    .gallery {
        order: 1;
    }

    .aboutUs {
        order: 2;
    }

    /* .header {
        position: relative;
    }
*/
    .modal {
        position: fixed;
        width: 784px;
        height: 718px;
        bottom: unset;
        right: unset;
        left: calc(50% - 392px);
        top: calc(50% - 359px);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }

    .modal__close {
        position: fixed;
        left: calc(50% + 352px);
        top: calc(50% - 339px);
    }

    .modal__order_button {
        border-radius: 10px 0px 10px 0px;
    }

    .modal__card_img {
        min-width: 100%;
        height: 410px;
    }

    .modal__footer {
        flex-direction: row;
        left: calc(50%);
        top: calc(50% + 301px);
        width: 390px;
        height: 56px;
        bottom: unset;
        right: unset;
    }

    .footer__BJU {
        width: 50%;
        height: 100%;
    }

    .modal__BJU_item {
        justify-content: flex-end;
        padding-bottom: 15px;
    }

    .modal__total_weight {
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 25px;
    }


    .modal__order {
        align-items: end;
        background-color: unset;
    }

    .modal__order_total {
        row-gap: 0;
        padding-bottom: 10px;
    }

    .modal__header {
        flex-direction: column-reverse;
        align-items: flex-end;
        top: 323px;
    }

    .modal__h2 {
        bottom: 43px;
        left: 42px;
    }



    .modal__topping {
        display: flex;
        column-gap: 50px;
        padding-top: 17px;
    }
}

@media screen and (min-width: 1400px) {
    .wrapper {
        padding-left: 195px;
        padding-right: 147px;
    }

    .menu__main {
        grid-auto-flow: dense;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu__main_img {
        height: 240px;
    }

    .order {
        display: grid;
        grid-template-columns: 630px 361px;
        column-gap: 34px;
        row-gap: 43px;
        justify-content: center;
        padding-top: 55px;
        padding-bottom: 65px;
    }

    .order__item {
        margin: 0;
        padding-top: 0;
        padding-bottom: 28px;
        padding-left: 27px;
        padding-right: 30px;
    }

    .order__list,
    .last__card,
    .card__pinck {
        padding-right: 0;
        padding-left: 0;
    }

    .order__topping {
        padding-left: 22px;
        padding-right: 20px;
    }

    .order__basket {
        padding-top: 0;
        padding-bottom: 0;
    }

    .order__item .order__item_h2 {
        padding-top: 25px;
        padding-bottom: 26px;
    }

    .order__topping_list {
        row-gap: 33px;
    }

    .order__topping_card {
        grid-template-columns: 1fr auto;
    }

    .order__topping_card .mobileBasket__count {
        grid-column: span 1;
        grid-row: span 1;
    }

    .order__topping_card .mobileBasket__price {
        grid-column: span 1;
        grid-row: span 1;
        align-self: center;
    }

    .order__topping_card .mobileBasket__price {
        grid-column: span 1;
        grid-row: span 1;
    }

    .order__basket {
        margin: 0;
    }

    .onlyDeskHalf {
        grid-column: span 1;
    }

    .mobileDeskHalf {
        grid-column: span 1;
    }

    .onlyTabletHalf {
        grid-column: span 2;
    }

    .gallery .swiper_new {
        padding-left: 50px;
        padding-right: 50px;
    }

    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        color: #9D9D9D !important;
    }

    .swiper-button-next {
        right: 0 !important;
    }

    .swiper-button-prev {
        left: 0 !important;
    }

    .aboutUs {
        padding-left: 147px;
        padding-right: 147px;
    }

    .gallery__h2 {
        padding-left: 50px;
    }

    .gallery {
        padding-left: 97px;
        padding-right: 97px;
    }

    .mobileBasket__button_clear,
    .deskBasket__button_clear {
        display: none;
    }

    .asideMenu__ul {
        top: 0;
    }

    .topping__list {}

    .modal__fav {}

    .header {
        position: relative;
        padding-left: 190px;
        padding-right: 147px;
        height: 124px;
    }

    .resto {
        display: block;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.2em;
        color: #B4B2B2;
    }

    .burgerMenu {
        display: none;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        width: 640px;
    }

    .menu__cat,
    .wrapper__main_big {
        position: relative;
    }

    .nav {
        font-family: 'Muller';
        font-weight: 500;
        font-size: 15px;
        display: flex;
        column-gap: 25px;
        align-items: center;
    }

    .nav__item {
        list-style-type: none;
    }

    .close {
        display: none;
    }

    .menu__h2 {
        margin-top: 0px;
    }

    .footer__main {
        grid-template-columns: 270px 1fr 1fr;
        column-gap: 60px;
        padding-right: 0px;
    }

    .copyright__close {
        display: none;
    }

    .footer__nav {
        justify-self: flex-start;
    }

    .aboutUs {
        flex-direction: row;
        column-gap: 150px;
        justify-content: flex-end;
    }

    .aboutUs__map {
        flex-grow: 1;
    }

    .menu__mobile_nav {
        display: none;
    }

    .gallery {
        order: 1;
    }

    .aboutUs {
        order: 2;
    }

    .menu {
        padding-right: 20px;
        flex-direction: row;

        padding-left: 0px;
    }

    .deskBasket {
        position: sticky;
        top: 0;
        display: flex;
        margin-top: 16px;
        border-radius: 10px;
        width: 360px;
        max-height: calc(100vh - 20px);
        background-color: var(--text-color-white);
    }

    .deskBasket__wrapper {
        display: flex;
        flex-direction: column;
        width: 360px;
    }

    .deskBasket__header {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: var(--text-color-white);
        border: 2px solid #FFFFFF;
        border-radius: 10px 10px 0px 0px;
    }

    .deskBasket__header_span {
        font-weight: 500;
        font-size: 24px;
        color: var(--color-bordeaux);
    }

    .desk__button_clear {
        border: none;
        font-weight: 300;
        font-size: 13px;
        cursor: pointer;
        background-color: var(--text-color-white);
    }

    .deskBasket__main {
        min-height: calc(100% - 195px);
    }

    .deskBasket__menu {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        overflow-y: auto;
        z-index: 100;
    }

    .deskBasket__menu {
        max-height: calc(100% - 114px);
        flex-grow: 1;
    }

    .deskBasket__delivery {
        padding-left: 20px;
        margin-right: 20px;
        padding-bottom: 35px;
    }

    .aboutUs__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .gallery__list {
        display: flex;
        overflow-x: auto;
        column-gap: 25px;
        justify-content: space-between;
    }

    .aboutUs__div_wr {
        display: block;
    }

    .footer__copyright {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 195px;
    }
}

@media screen and (min-width: 1508px) {

    html,
    .modal__topping,
    .deskBasket__menu {
        scrollbar-color: 0 0 6px rgba(0, 0, 0, 0.5) 0 0 6px rgba(0, 0, 0, 0.3);
        /* «цвет ползунка» «цвет полосы скроллбара» */
        scrollbar-width: thin;
        /* толщина */
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .mainGallery,
    .frontpage .mainGallery {
        display: flex;
        flex-wrap: nowrap;
    }

    .menu {
        padding-left: 0px;
    }

    .aboutUs {
        padding-left: 147px;
        padding-right: 147px;
    }


    .menu__cat {
        max-width: 890px;
        display: grid;
        grid-template-columns: repeat(3, minmax(270px, 380px));
        /* grid-template-columns: 1fr 1fr 1fr;*/
    }


    .menu__h2 {
        grid-column: 1/4;
    }

}

.mobileBasket_sticky.transition {
    transition: bottom linear 700ms;
}

.mobileBasket_sticky.opened {
    position: fixed;
    right: 0;
}