@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: local('Muller'), local('Muller'),
        url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FF Good Pro';
    src: url('../fonts/FFGoodPro-Light.eot');
    src: local('FF Good Pro Light'), local('FFGoodPro-Light'),
        url('../fonts/FFGoodPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFGoodPro-Light.woff2') format('woff2'),
        url('../fonts/FFGoodPro-Light.woff') format('woff'),
        url('../fonts/FFGoodPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*------------------------------COLOR----------------------------------*/
:root {
    --color-bordeaux-light: #B06D81;
    --color-bordeaux: #831335;
    --color-bluish-gray: #172B32;
    --color-milky: #FDF5E6;
    --text-color-white: #FFFFFF;
    --text-color-grey: #838383;
    --text-color-light-grey: #B1B5BA;
    --text-color-basket-grey: #989FA8;
    --indicator-color-green: #B1DE32;
    --text-color-dark-grey: #505050;

  }
/*----------------------------------------------------------------------*/
* {
font-family: 'Muller';
box-sizing: border-box;
padding: 0;
margin: 0;
}
body {
    height: 100%;
}
.wrapper {
    padding-left: 20px;
    padding-right: 20px
}
a,
a:active {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .menu__h2,
  .aboutUs__h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-bordeaux);
  }

/*-------------------HEADER----------------------------------*/
.header {
    position: relative;
    height: 74px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--color-bluish-gray);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
}
.burgerMenu {
    display: block;
}
.close {
    display: block;
}
.header__nav,
.asideNav,
.resto,
.asideNavMenu,
.auxiliary,
.mainGallery,
.basketDesk,
.asideMenu,
.mobileBasket__img {
    display: none;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.profile {
    margin-left: 35px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background: var(--color-bordeaux);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.phone {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-size: 13px;
}
.contacts__a,
.mobileContacts__a {
    font-weight: 700;
}
.contacts__span,
.mobileContacts__span {
    font-weight: 500;
}

/*----------------------------MOBILE MENU-------------------------------*/
.mobile {
    background-color: var(--color-bluish-gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color-white);
    padding-bottom: 30px;
    display: none;
}
.mobile__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 25px;
    padding-right: 35px;
}
.mobile__profile,
.mobile__nav {
    font-size: 15px;
    font-weight: 500;
}
.mobile__nav,
.mobile__phone,
.mobile__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 35px;
    padding-left: 25px;
    flex-basis: 25%;
}
.mobile__phone {
    font-size: 13px;
}
.mobile__nav {
    flex-basis: 50%;
    padding-top: 25px;
}
.nav__item {
    list-style: none;
}
.mobile__profile {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-right: 35px;
    padding-left: 25px;
}
.mobile__profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    background: var(--color-bordeaux);
    border: 2px solid var(--text-color-white);
}
.mobile__indicator{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--indicator-color-green);
}
.mobileWorkTime {
}
.address__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.mobile__address {
}
.mobile__contacts {
    justify-content: unset;
    font-family: "FF Good Pro";
    font-size: 15px;
    font-weight: 450;
    font-style: normal;
    justify-content: flex-end;
}
.mobileContacts__a {
    display: flex;
    column-gap: 10px;
}
.button__wrapper {
}
.mobile__button_route {
    border: 2px solid var(--text-color-white);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: var(--text-color-white);
    font-size: 13px;
    font-weight: 700;
    align-self: flex-end;
    background-color: var(--color-bordeaux);
    }
/*---------------------------------------------------------------------*/
/*-------------------MAIN---------------------------------------------*/
.menu__mobile_nav {
    height: 75px;
    position: absolute;
    background-color: var(--text-color-white);
}

.menu__mobile_nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: nowrap;
}

.nav__li {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
}


.nav__input {
    display: none;
}

.nav__label {
    display: flex;
    white-space:nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    align-self: center;
}
.nav__label:hover,
.nav__label:active {
    background-color: var(--color-bordeaux);
    border-radius: 10px;
    color: var(--text-color-white);
    cursor: pointer;
}


.menu {
    background-color: var(--color-milky);
    padding-right: 19px;
    padding-left: 19px;
    display: flex;
    max-height: calc(100vh - 75px);
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 35px;
}
.menu__h2 {
    margin-top: 75px;
    padding-top: 30px;
}
.menu__white {
    height: 75px;
    background-color: var(--text-color-white);
}
.menu__list {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 15px;
    row-gap: 30px;
}
.menu__card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 350px;
    border-radius: 10px;
    background-color: var(--text-color-white);
    justify-content: space-between;
}
.card__img {
    min-width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card_desc {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 4px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
.card {
    display: flex;
    column-gap: 3px;
    align-self: flex-end;
}
.card__desc_name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.card__desc_weight {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--text-color-light-grey);
    padding-bottom: 1px;
}
.card__desc_price {
    white-space: nowrap;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    font-size: 24px;
    color: var(--text-color-grey);
}
.card__button {
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: var(--color-bordeaux-light);
    border-radius: 0 0 10px 10px;
    color: var(--text-color-white);
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
}
.aboutUs {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    z-index: 10;
}
.indicator{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--indicator-color-green);
}
.address {
    padding-top: 25px;
    font-style: normal;
    padding-bottom: 25px;
}
.workTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.workTime__span,
.workTime__span_now,
.address{
    font-family: "FF Good Pro";
    font-size: 20px;
    font-weight: 450;
}
.workTime__span,
.workTime__span_now,
address {
    white-space: nowrap;
}
.aboutUs__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.aboutUs__button {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-bordeaux);
    color: var(--text-color-white);
    
}
.aboutUs__span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    align-self: center;
    height: 100%;
    border: 1px solid var(--text-color-white);
    font-size: 15px;
    font-weight: 700;
}
.aboutUs__map {
    overflow: hidden;
    max-height: 370px;
    border-radius: 10px;
}
/*--------------------------------------------------------------------*/
/*-------------------FOOTER-------------------------------------------*/
.footer {
    display: flex;
    flex-direction: column;
    color: var(--text-color-white);
    z-index: 10;
}
.footer__color1 {
    background-color: var(--color-bordeaux);
}
.footer__main {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 70px;
    row-gap: 20px;
}
.footer__logo {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer__favicon {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer__nav_item {
    list-style: none;
    font-weight: 700;
    font-size: 16px;
}
.footer__other {
    width: 201px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other__item {
    font-family: "FF Good Pro"; 
    text-align: right;
    font-weight: 450;
    font-size: 14px;
}
.loyalty {
    font-family: "Muller";
    font-weight: 700;
    font-size: 16px;
}
.footer__copyright {
    height: 95px;
    background-color: var(--color-bluish-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 14px;
}
.copyright__item {
    font-family: "FF Good Pro";
    font-size: 14px;
    font-weight: 450;
}
.mobileBasket {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    z-index: 100500;
    background-color: var(--text-color-white);
}

.mobileBasket__header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: var(--text-color-white);
    background-color: var(--color-bluish-gray);
    border: 2px solid #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}
.mobileBasket__delivery {
    padding-top: 27px;
    padding-left: 20px;
    margin-right: 20px;
    padding-bottom: 35px;
}
.mobileBasket__delivery__wrapper {
    display: flex;
    width: 100%;
    border: 1px solid #B5B5B5;
    border-radius: 10px;
}
.mobileBasket__delivery__item {
    display: flex;
    list-style-type: none;
    flex-grow: 1;
    align-items: center;
}
.mobileBasket__delivery_label {
    display: flex;
    white-space:nowrap;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    align-self: center;
    font-weight: 700;
    font-size: 15px;
    color: var(--text-color-basket-grey);
}

.mobileBasket__delivery_label:hover,
.mobileBasket__delivery_label:active,
.mobileBasket__delivery_active {
    border: 2px solid var(--color-bordeaux);
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-color-dark-grey);
}

.mobileBasket__delivery_input {
    display: none;
}
.mobileBasket__count {
    display: flex;
}
.mobileBasket__menu {
    
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    /*height: calc(100vh - 420px);*/
    overflow-y: auto;
}
.mobileBasket__card {
    display: flex;
    column-gap: 10px;
}

.mobileBasket__card_img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
}
.mobileBasket__desc {
    flex-grow: 1;
}
.mobileBasket__h3 {
    padding-bottom: 6px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mobileBasket__main {
    flex-grow: 1;
}
.mobileBasket__desc_main {
    display: flex;
    justify-content: space-between;
}
.mobileBasket__weightPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobileBasket__footer {
    flex-grow: 1;
}
.mobileBasket__footer_item {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.mobileBasket__button_clear {
    background-color: var(--text-color-white);
    border: none;
    text-align: start;
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 20px;
}
.mobileBasket_forFreeDelivery {
    font-weight: 500;
    font-size: 13px;
    color: var(--color-bordeaux);
    margin-bottom: 10px;
}
.mobileBasket_priceDelivery {
    display: flex;
    align-items: center;
}
.mobileBasket__footer_span {
    padding-right: 30px;
    font-weight: 500;
    font-size: 13px;
}
#mobileBasket_priceDelivery,
.mobileBasket__ruble {
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color-grey);
}
.mobileBasket_forFreeDelivery {
    display: inline-block;
}
.mobileBasket__button_order {
    height: 70px;
    width: 100%;
    background-color: var(--color-bordeaux);
    color: var(--text-color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid var(--text-color-white);
    border-radius: 10px;
    padding-left: 26px;
    padding-right: 26px;
}
.input_text {
    height: 100%;
    text-align: center;
}
#left, #right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--text-color-white);
    width: 47px;
    height: 47px;
    background-color: var(--color-bordeaux-light);
    border-radius: 10px 0px 0px 10px;
}
#right {
    border-radius: 0px 10px 10px 0px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/*------------------------MEDIA---------------------------------------*/
@media screen and (min-width: 800px) {
    .main {
        /*width: 100%;
        display: grid;
        grid-template-columns: 195px 1fr;
        flex-wrap: nowrap;*/
    }
    .mobileBasket {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .mobileBasket__header {
        border: 2px solid #FFFFFF;
        border-radius: 0px 10px 0px 0px;
        border-left: none;
        border-bottom: none;
    }
    .mobileBasket__header_img {
        padding: 20px;
        height: 60px;
        color: var(--text-color-white);
        background-color: var(--color-bluish-gray);
        border: 2px solid #FFFFFF;
        border-right: none;
        border-bottom: none;
        border-radius: 10px 0px 0px 0px;
    }
    .mobileBasket__img {
        display: block;
        flex-basis: 50%;
    }
    .mobileBasket__img_main {
        width: 100%;
        height: calc(100vh - 60px);
        object-fit: cover;
    }
    .mobileBasket__wrapper {
       flex-basis: 50%;
    }
    .container {
    }
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer__main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu__h2 {
        grid-column: 1/4;
    }
    .footer__logo {
        grid-column: 1/2;
        flex-direction: column;
        row-gap: 20px;
        justify-content: unset;
    }
    .footer__favicon {
        flex-direction: row;
        column-gap: 20px;
    }
    .footer__nav {
        justify-self: center;
    }
    .footer__other {
        justify-self: end;
    }
    .asideMenu {
        position: absolute;
        top: 120px;
       
        bottom: 450px;
        display: flex;
        flex-direction: column;
        width: 195px;
        
        background-color: var(--color-bluish-gray);
        z-index: 5;
        overflow: hidden;
    }
    .asideMenu__li {
        list-style: none;
        color: var(--text-color-white);
    }
    
    .asideMenu__first {
        height: 295px;
        background-color: var(--color-bordeaux);
    }
    
   
}
@media screen and (min-width: 1300px) {
    
    .header {
        position: relative;
        padding-left: 190px;
        padding-right: 147px;
        height: 124px;
    }
    .resto {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.2em;
        color: #B4B2B2;
    }
    .burgerMenu {
        display: none;
    }
    .header__nav {
        display: flex;
        justify-content: center;
    }
    .nav {
        font-family: 'Muller';
        font-weight: 500;
        font-size: 15px;
        display: flex;
        column-gap: 25px;
        align-items: center;
    }
    .nav__item {
        list-style-type: none;
    }
    .close {
        display: none;
    }
    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu__h2 {
        margin-top: 0px;
    }
    .footer__main {
        grid-template-columns: 270px 1fr 1fr;
        column-gap: 60px;
        padding-right: 0px;
    }
    .copyright__close {
        display: none;
    }
    .footer__nav {
        justify-self: flex-start;
    }
    .aboutUs {
        flex-direction: row;
        column-gap: 150px;
        justify-content: flex-end;
        padding-left: 147px;
    }
    .aboutUs__map {
        flex-basis: 100%;
    }
    .wrapper {
        padding-left: 195px;
        padding-right: 147px;
    }
    .menu__mobile_nav {
        display: none;
    }
    .mainGallery {
        width: calc (100% - 190px);
        display: block;
        padding-right: 0px;
        padding-left: 0;
    }
    .mainGallery__item {
        width: 100%;
        height: 295px;
        object-fit: cover;
    }
    .menu {
        padding-right: 20px;
        flex-direction: row;
    }
    .basketDesk {
        display: flex;
        margin-top: 16px;
        border-radius: 10px;
        width: 360px;
        max-height: calc(100vh - 150px);
        background-color: var(--text-color-white);
    }
    .aboutUs__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 147px;
    }
    .gallery {
        background-color: var(--color-milky);
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .gallery__div {
        padding-left: 147px;
    }
    .gallery__list {
        display: flex;
        overflow-x: auto;
        column-gap: 25px;
        justify-content: space-between;
    }
}